.classpath
.idea
.idea_modules
.project
.settings
.cache-tests
.cache-main
.scala_dependencies
corpora
target
labeled-point-out
loanwords*.txt*
/docs/*.html
.DS_Store
/#*#
*~
/_transliteration
/index*
/logs
/RUNNING_PID
/lib
/bin
/conf/application.conf
